<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>OH-MY-SCH/About</title>

    <link rel="stylesheet" href="../static/aboutstyle.css">
</head>
<body>
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />

            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <a href="/"><li>Home</li></a>
                <a href="/about"><li>About</li></a>
                <a href="#"><li>Schedule</li></a>
            </ul>
        </div>
    </nav>
    <pre class="ohmysch_text">
         __                                     __  
  ____  / /_     ____ ___  __  __   _____ _____/ /_ 
 / __ \/ __ \   / __ `__ \/ / / /  / ___/ ___ / __ \
/ /_/ / / / /  / / / / / / /_/ /  (__  ) /__ / / / /
\____/_/ /_/  /_/ /_/ /_/\__, /  /____/\___ /_/ /_/ 
                        /____/                      
   </pre>
   
   <br><br><br><br>

   <p class="greeting_text">
    A little about this app...
   </p>

   <br><br><br><br>

   <p class="greeting_text">
        OH MY SCH - is the web app that wants to be your schedule-taking note,
        so that you can organize your duties and see your plans.
        Time managment is getting a lot of luck right now because of the internet (like a Childish Gambino album).
        We procrastinate watching youtube videos, tiktok, browsing a social media, online shopping, porn, games etc.
        So why would you spend your time doing nothing rather than do SOMETHING?
        Time is valuable right now like its never been in all that cyber mess, so i wondered what if i could make something to help people with this struggle.
        I know that is online source like other staff, but i really struggle with seeing my schedule in website of my uni or im emacs org-mode cause that is not always comfy to use, u know.
        So i make that thing to maintain my schedule whenever i was, so i can see it in my phone on the go quickly.
        This is - Oh My Schedule!
   </p>
</body>
</html>