<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>OH-MY-SCH</title>

    <link rel="stylesheet" href="C:\Users\savmi\work\OH-MY-SCH\static\hpstyle.css">
</head>
<body>
    <center>
        <pre class="rainbow_text">
         __                                     __  
  ____  / /_     ____ ___  __  __   _____ _____/ /_ 
 / __ \/ __ \   / __ `__ \/ / / /  / ___/ ___ / __ \
/ /_/ / / / /  / / / / / / /_/ /  (__  ) /__ / / / /
\____/_/ /_/  /_/ /_/ /_/\__, /  /____/\___ /_/ /_/ 
                        /____/                      
        </pre>

        <p class="rainbow_text">
            oh my schedule!
        </p>

        <br><br><br><br>

        <p class="greeting_text">
            Welcome to the OH-MY-SCH main page!<br>
            This project is a web-schedule app to manage your time and duties!<br>
            You can set your own theme and style for your own schedule!<br>
            Because its your OH-MY-SCH(edule)!<br>
        </p>
    </center>    
</body>
</html>